    .body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        background-color: #040257;
        margin: 0;
        padding: 20px;
        color: white;
    }
    .carousel {
        display: flex; /* Adiciona display flex ao carrossel */
        justify-content: center; /* Centraliza as imagens */
        align-items: center; /* Alinha verticalmente as imagens */
        width: 100%;
        max-width: 1000px;
        height: 900px; /* Altura fixa para o carrossel */
        overflow: hidden;
        position: relative;
        margin-top: 20px;
    }
    .carousel img {
        width: 100%;
        height: auto; /* Ajuste para manter a proporção da imagem */
        max-height: 100%; /* Limita a altura da imagem ao tamanho do carrossel */
        transition: opacity 3s ease-in-out; /* Transição suave */
    }
    .carousel img.inactive {
        opacity: 0;
        z-index: 1;
    }
    .carousel img.active {
        opacity: 1;
        z-index: 2;
    }
